test/stepfunctions/some-other-asl.json
{
  "StartAt": "SomeJob",
  "States": {
    "SomeJob": {
      "Next": "Job Complete ?",
      "Type": "Task",
      "ResultPath": "$.JobStatus",
      "Resource": "arn:aws:states:::aws-sdk:emrserverless:ListJobRuns.waitForTaskToken",
      "Parameters": {
        "ApplicationId": "00fc9h569evui609",
        "ClientToken.$": "States.UUID()",
        "Name": "mytestjob",
        "ExecutionRoleArn": "arn:aws:iam::123456789012:role/delegatedadmin/developer/blames-emr-serverless-job-role",
        "ExecutionTimeoutMinutes": 5,
        "JobDriver": {
          "SparkSubmit": {
            "EntryPoint": "s3://aws-cms-amg-qpp-costscoring-artifact-dev-222224444433-us-east-1/biju_test_files/myspark-assembly.jar",
            "SparkSubmitParameters": "--class serverless.SimpleSparkApp"
          }
        }
      }
    },
    "Job Complete ?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.JobStatus.Status",
          "StringEquals": "SUCCEEDED",
          "Next": "Success"
        }
      ],
      "Default": "Fail"
    },
    "Fail": {
      "Type": "Succeed"
    },
    "Success": {
      "Type": "Succeed"
    }
  }
}